<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<dict>
				<key>ATI</key>
				<false/>
				<key>Firewire</key>
				<false/>
				<key>HDA</key>
				<true/>
				<key>HDMI</key>
				<false/>
				<key>IDE</key>
				<false/>
				<key>IntelGFX</key>
				<false/>
				<key>LAN</key>
				<false/>
				<key>LPC</key>
				<false/>
				<key>NVidia</key>
				<false/>
				<key>SATA</key>
				<true/>
				<key>SmBUS</key>
				<false/>
				<key>USB</key>
				<false/>
				<key>WIFI</key>
				<false/>
			</dict>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP_0001</key>
				<true/>
				<key>AddHDMI_8000000</key>
				<true/>
				<key>DeleteUnused_400000</key>
				<true/>
				<key>FixHDA_8000</key>
				<true/>
				<key>FixHPET_0010</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>HaltEnabler</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<true/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-v dart=0 nv_disable=1 kext-dev-mode=1</string>
		<key>Debug</key>
		<true/>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>Detect</string>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<true/>
		<key>ScreenResolution</key>
		<string>1280x1024</string>
		<key>Theme</key>
		<string>embedded</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<false/>
		<key>AsusAICPUPM</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelHaswellE</key>
		<true/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
                <key>KextsToPatch</key>        
                <array>
      			<dict>
                                <key>Comment</key>
                                <string>Skylake AppleAPIC Patch (c) Pike R. Alpha</string>
                                <key>Find</key>
                                <data>
                                wegQD7bw
                                </data>
                                <key>Name</key>
                                <string>AppleAPIC</string>
                                <key>Replace</key>
                                <data>
                                vhEAAACQ
                                </data>
	                </dict>
                </array>

	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>C02032109R5DC771H</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>Manufacturer</key>
	        <string>Apple Inc.</string>
	        <key>Family</key>
	        <string>iMac</string>
	        <key>ProductName</key>
	        <string>iMac17,1</string>
	        <key>SerialNumber</key>
	        <string>C02Q1234GG7L</string>
	        <key>BoardManufacturer</key>
	        <string>Apple Inc.</string>
	        <key>BoardVersion</key>
	        <string>iMac17,1</string>
	        <key>Board-ID</key>
	        <string>Mac-DB15BD556843C820</string>
	        <key>BoardType</key>
	        <integer>10</integer>
	        <key>BoardAssetTag</key>
	        <string>Base Board Asset Tag#</string>
	        <key>BiosVendor</key>
	        <string>Apple Inc.</string>
	        <key>BiosVersion</key>
	        <string>IM171.88Z.0105.B00.1509221819</string>
	        <key>BiosReleaseDate</key>
	        <string>09/22/2015</string>
	        <key>ChassisManufacturer</key>
	        <string>Apple Inc.</string>
	        <key>ChassisType</key>
	        <string>13</string>
	        <key>LocationInChassis</key>
	        <string>Part Component</string>
	        <key>ChassisAssetTag</key>
	        <string></string>
	        <key>FirmwareVendor</key>
	        <string>Apple Inc.</string>
	        <key>SmcRevision</key>
	        <string>2.33f9</string>
	        <key>Version</key>
	        <string>1.0</string>
	       	</dict>
		<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
